{% include 'header.html' %} 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<title>About Us</title>

<div class="about-section mt-5">
  <h1>WHY US?</h1><br>
  <p> In order to serve as a platform that provides a one-stop shop for your needs to obtain the best
    management advice services and recruiting solutions, Sajilo Job was established in the year 2022
    AD. We are sensitive to the numerous requests of our clients for services that are simple and
    convenient since we believe that people are the most significant assets for any organization.
    Our team of experts, who come from a variety of backgrounds, works together to provide our
    clients with services that are innovative and especially catered to their needs.<br><br> </p>
</div>

<div class="about-us-section">
  <h2 class="text-center">Our Teams</h2>
  <ul class="about-us-cards">
    <li class="about-us-card">
      <div class="about-us-image-wrapper">
        <img src="https://img.freepik.com/free-photo/business-finance-employment-female-successful-entrepreneurs-concept-confident-smiling-asian-businesswoman-office-worker-white-suit-glasses-using-laptop-help-clients_1258-59126.jpg?size=626&ext=jpg&ga=GA1.1.1681159899.1672509043&semt=sph" alt="Aparna" class="about-us-image">
      </div>
      <div class="about-us-details">
        <h2 >Aparna Sapkota</h2>
        <p class="title">Django Developer</p>
        <p>aparnasapk@gmail.com</p>
        <p><button class="btn btn-primary">Contact</button></p>
      </div>
    </li>
    <li class="about-us-card">
      <div class="about-us-image-wrapper">
        <img src="https://img.freepik.com/free-photo/programming-background-collage_23-2149901785.jpg?size=626&ext=jpg&ga=GA1.1.1681159899.1672509043&semt=sph" alt="Lanisha" class="about-us-image">
      </div>
      <div class="about-us-details">
        <h2 >Lanisha Koirala</h2>
        <p class="title">React Developer</p>
        <p>lan@gmail.com</p>
        <p><button class="btn btn-primary">Contact</button></p>
      </div>
    </li>
    <li class="about-us-card">
      <div class="about-us-image-wrapper">
        <img src="https://img.freepik.com/free-photo/woman-hacker-using-dangerous-virous-steal-bank-information-programmer-writing-malware-cyber-attacks-using-performance-laptop-during-midnight_482257-6694.jpg?size=626&ext=jpg&ga=GA1.2.1681159899.1672509043&semt=sph" alt="Rachana" class="about-us-image">
      </div>
      <div class="about-us-details">
        <h2 >Rachana Lamichhane</h2>
        <p class="title">Quality Assurance</p>
        <p>racchul@gmail.com</p>
        <p><button class="btn btn-primary">Contact</button></p>
      </div>
    </li>
  </ul>
</div>

</body>
</html>
{% include 'footer.html' %} 
