{% include 'header.html' %}
<title>Feedback</title>
<main class="signup auth" >
      <div class="container">
        <div class="auth-left">
          <div class="auth-image-wrapper">
            <img
              src="https://img.freepik.com/free-vector/flat-customer-support-illustration_23-2148899114.jpg?size=626&ext=jpg&ga=GA1.1.1681159899.1672509043&semt=ais"
              alt=""
            />
          </div>
        </div>
        <div class="auth-right" >
          <div class="auth-form-wrapper">
            <form action="{% url 'feedback' %}" method="post" enctype="multipart/form-data">
            <h2>Feedback Form</h2>
              {% csrf_token %}
              
              <div class="form-item">
                <input
                  type="email"
                  required="true"
                  class="form-input"
                  name="email"
                  placeholder="Your email address"
                />
              </div>
              <div class="form-item">
                <input
                  type="text"
                  required="true"
                  class="form-input feedback"
                  name="feedback"
                  placeholder="Feedback"
                />
              </div>
              
              <div class="form-item">
                <input
                  type="submit"
                  name="submit"
                  class="form-button btn btn-primary"
                  value="Submit"
                />
              </div>
                
            </form>
          </div>
        </div>
      </div>
    </main>
  </body>

{% include 'footer.html' %}
